# AWBS Project 1: Exploratory Data Analysis of Internet Traffic Performance

## Authors:
- Jakub Piotrowski 266502
- Jakub W≈Çodarski

---

## üìò Project Overview

This project aims to analyze and compare internet traffic performance using datasets collected in January 2021 and January 2023 by the **Federal Communications Commission (FCC)**. The datasets contain measurements like **download throughput**, **upload throughput**, and **latency**, crucial for evaluating broadband performance.

### Objectives:
1. Perform comprehensive Exploratory Data Analysis (EDA) using the CRISP-DM methodology.
2. Analyze internet traffic performance by focusing on:
   - Download and upload speeds
   - Latency
   - Relationships between metrics
3. Compare trends between 2021 and 2023.
4. Predict future internet performance using machine learning models.

### Methodology: CRISP-DM
The CRISP-DM (Cross Industry Standard Process for Data Mining) methodology guides our workflow:
- Business Understanding
- Data Understanding
- Data Preparation
- Modeling
- Evaluation
- Deployment

---

## üìÇ Dataset Sources
- [2021 Dataset (FCC)](https://data.fcc.gov/download/measuring-broadband-america/2021/data-raw-2021-jan.tar.gz)
- [2023 Dataset (FCC)](https://data.fcc.gov/download/measuring-broadband-america/2023/data-raw-2023-jan.tar.gz)
- [CRISP-DM](https://www.ibm.com/docs/pl/spss-modeler/saas?topic=dm-crisp-help-overview)

## üìä Step 1: Business Understanding

We aim to analyze and compare internet performance data from the FCC for January 2021 and 2023. Key performance indicators include download speed, upload speed, and latency.

### Objectives:
- Explore trends and performance changes over time.
- Find relationships between key metrics.
- Build predictive models for download/upload performance.

In [6]:
import os

data_2021_path = "data/data-raw-2021-jan"
data_2023_path = "data/data-raw-2023-jan"

files_2021 = os.listdir(data_2021_path)
files_2023 = os.listdir(data_2023_path)

print("2021 Files:", files_2021)
print("2023 Files:", files_2023)

2021 Files: ['202101']
2023 Files: ['202301']

In [7]:
subfolder_2023 = os.path.join(data_2023_path, '202301')

files_2023_deep = os.listdir(subfolder_2023)
for i, f in enumerate(files_2023_deep, start=1):
    print(f"{i}. {f}")

1. curr_datausage.csv
2. curr_dlping.csv
3. curr_dns.csv
4. curr_httpget.csv
5. curr_httpgetmt.csv
6. curr_httpgetmt6.csv
7. curr_httppost.csv
8. curr_httppostmt.csv
9. curr_httppostmt6.csv
10. curr_lct_dl.csv
11. curr_lct_ul.csv
12. curr_ping.csv
13. curr_traceroute.csv
14. curr_udpcloss.csv
15. curr_udpjitter.csv
16. curr_udplatency.csv
17. curr_udplatency6.csv
18. curr_ulping.csv
19. curr_webget.csv

In [8]:
import pandas as pd

print("üßπ Checking for empty files (0 rows):\n")

empty_files = []

for file in files_2023_deep:
    file_path = os.path.join(subfolder_2023, file)
    try:
        df = pd.read_csv(file_path, low_memory=False, nrows=1)
        if df.empty:
            empty_files.append(file)
    except Exception as e:
        print(f"{file}: ‚ùå Failed to read ({e})")

if empty_files:
    print("\nüö´ Empty files:")
    for f in empty_files:
        print(f"- {f}")
else:
    print("‚úÖ No empty files found.")

üßπ Checking for empty files (0 rows):


üö´ Empty files:
- curr_httpget.csv
- curr_httpgetmt6.csv
- curr_httppost.csv

In [9]:
import pandas as pd

print("üìä Row count per file (data-raw-2023-jan/202301):\n")

for file in files_2023_deep:
    file_path = os.path.join(subfolder_2023, file)
    try:
        df = pd.read_csv(file_path, low_memory=False)
        print(f"{file}: {len(df):,} rows")
    except Exception as e:
        print(f"{file}: ‚ùå Failed to read ({e})")

üìä Row count per file (data-raw-2023-jan/202301):

curr_datausage.csv: 2,776,853 rows
curr_dlping.csv: 1,380,351 rows
curr_dns.csv: ‚ùå Failed to read (Error tokenizing data. C error: out of memory)
curr_httpget.csv: 0 rows
curr_httpgetmt.csv: 806,142 rows
curr_httpgetmt6.csv: 0 rows
curr_httppost.csv: 0 rows
curr_httppostmt.csv: 803,436 rows
curr_httppostmt6.csv: 2 rows
curr_lct_dl.csv: 977,725 rows
curr_lct_ul.csv: 975,854 rows
curr_ping.csv: 4,482,225 rows
curr_traceroute.csv: 13,265,007 rows
curr_udpcloss.csv: 2,138,359 rows
curr_udpjitter.csv: 2,688,577 rows
curr_udplatency.csv: 5,454,686 rows
curr_udplatency6.csv: 18,543 rows
curr_ulping.csv: 1,394,990 rows
curr_webget.csv: 10,668,402 rows

## üìò Step 2: Data Understanding

In this step, we explore the structure, format, and contents of the key datasets. Our focus is to understand:

- Download/upload performance over time
- Relationships between internet quality metrics (latency, jitter, packet loss, etc.)
- Which features might serve as good predictors

### üìÇ Datasets Selected for Analysis
Based on row counts and relevance to upload/download performance, we‚Äôll focus on:
- `curr_datausage.csv` ‚Äì likely includes bandwidth or data consumption
- `curr_lct_dl.csv` ‚Äì likely download throughput
- `curr_lct_ul.csv` ‚Äì likely upload throughput
- `curr_dlping.csv` / `curr_ulping.csv` ‚Äì ping times (latency)
- `curr_udplatency.csv`, `curr_udpjitter.csv`, `curr_udpcloss.csv` ‚Äì latency-related

These files contain millions of records, making them suitable for performance trend and modeling analysis.

Let‚Äôs preview a few of these datasets and inspect their structure using `.head()`, `.info()`, and `.describe()` methods.

In [10]:
crucial_files = ['curr_datausage.csv', 'curr_lct_dl.csv', 'curr_lct_ul.csv',
                 'curr_dlping.csv', 'curr_ulping.csv',
                 'curr_udplatency.csv', 'curr_udpjitter.csv', 'curr_udpcloss.csv']

for file in crucial_files:
    file_path = os.path.join(subfolder_2023, file)
    print(f"\nPreviewing {file}\n{'=' * 40}")

    try:
        df = pd.read_csv(file_path, low_memory=False)

        print("üîπ Head:")
        display(df.head())

        print("üîπ Info:")
        display(df.info())

        print("üîπ Describe:")
        display(df.describe())

    except Exception as e:
        print(f" Could not read {file}: {e}")

Previewing curr_datausage.csv
========================================
üîπ Head:

,unit_id,dtime,sk_tx_bytes,sk_rx_bytes,cust_wired_tx_bytes,cust_wired_rx_bytes,cust_wifi_tx_bytes,cust_wifi_rx_bytes
0,386,2023-01-01 06:32:00,0,61288,42114358,2190548237,0,3225217
1,386,2023-01-01 07:32:02,0,77942,36364678,1781312604,0,2878273
2,386,2023-01-01 08:32:03,1593,59292,31497966,914522306,0,2649831
3,386,2023-01-01 09:32:05,0,61601,37000182,1609290026,0,2889108
4,386,2023-01-01 10:32:07,2552,103223,33011116,1499945826,0,2771261

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776853 entries, 0 to 2776852
Data columns (total 8 columns):
 #   Column               Dtype
---  ------               -----
 0   unit_id              int64
 1   dtime                object
 2   sk_tx_bytes          int64
 3   sk_rx_bytes          int64
 4   cust_wired_tx_bytes  int64
 5   cust_wired_rx_bytes  int64
 6   cust_wifi_tx_bytes   int64
 7   cust_wifi_rx_bytes   int64
dtypes: int64(7), object(1)
memory usage: 169.5+ MB

None

üîπ Describe:

,unit_id,sk_tx_bytes,sk_rx_bytes,cust_wired_tx_bytes,cust_wired_rx_bytes,cust_wifi_tx_bytes,cust_wifi_rx_bytes
count,2.776853e+06,2.776853e+06,2.776853e+06,2.776853e+06,2.776853e+06,2.776853e+06,2.776853e+06
mean,2.474264e+07,5.535438e+07,2.369537e+08,7.858996e+11,1.194508e+08,2.556172e+07,2.438340e+08
std,2.595955e+07,2.641591e+08,6.941576e+08,1.309436e+15,1.161513e+09,1.510678e+08,8.399871e+08
min,3.860000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.503640e+05,6.336920e+05,3.297897e+06,0.000000e+00,6.653000e+03,2.964230e+05,3.659172e+06
50%,2.480651e+07,9.871070e+05,1.157605e+07,1.556000e+03,8.375100e+04,2.503843e+06,1.852813e+07
75%,3.977465e+07,2.393821e+06,3.252208e+07,7.849270e+05,1.742218e+06,1.176929e+07,1.197759e+08
max,9.002113e+07,1.288532e+10,2.480400e+10,2.182029e+18,3.640226e+11,3.535850e+10,1.213928e+11

Previewing curr_lct_dl.csv
========================================
üîπ Head:

,unit_id,ddate,dtime,target,address,packets_received,packets_sent,packet_size,bytes_total,duration,bytes_sec,error_code,successes,failures
0,386,2023-01-01,2023-01-01 11:47:19,sp1-vm-newyork-us.samknows.com,151.139.31.1,52,100,1400,72800,878,85835096,NO_ERROR,1,0
1,386,2023-01-01,2023-01-01 23:53:23,sp1-vm-newyork-us.samknows.com,151.139.31.1,70,100,1400,98000,5455,84407488,NO_ERROR,1,0
2,386,2023-01-02,2023-01-02 17:50:01,sp1-vm-newyork-us.samknows.com,151.139.31.1,52,100,1400,72800,739,93750000,NO_ERROR,1,0
3,386,2023-01-02,2023-01-03 01:53:08,sp2-vm-newyork-us.samknows.com,151.139.31.8,52,100,1400,72800,763,91304344,NO_ERROR,1,0
4,386,2023-01-03,2023-01-03 11:46:41,sp2-vm-newyork-us.samknows.com,151.139.31.8,76,100,1400,106400,5495,89171976,NO_ERROR,1,0

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977725 entries, 0 to 977724
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   unit_id           977725 non-null  int64
 1   ddate             977725 non-null  object
 2   dtime             977725 non-null  object
 3   target            977725 non-null  object
 4   address           977725 non-null  object
 5   packets_received  977725 non-null  int64
 6   packets_sent      977725 non-null  int64
 7   packet_size       977725 non-null  int64
 8   bytes_total       977725 non-null  int64
 9   duration          977725 non-null  int64
 10  bytes_sec         977725 non-null  int64
 11  error_code        977725 non-null  object
 12  successes         977725 non-null  int64
 13  failures          977725 non-null  int64
dtypes: int64(9), object(5)
memory usage: 104.4+ MB

None

üîπ Describe:

,unit_id,packets_received,packets_sent,packet_size,bytes_total,duration,bytes_sec,successes,failures
count,9.777250e+05,977725.000000,977725.000000,977725.0,977725.000000,9.777250e+05,9.777250e+05,977725.000000,977725.000000
mean,2.242693e+07,86.534322,99.654300,1400.0,121148.050832,3.441231e+04,3.048665e+07,0.996543,0.003457
std,2.543967e+07,21.048576,5.869461,0.0,29468.006595,1.092681e+05,3.560378e+07,0.058695,0.058695
min,3.860000e+02,0.000000,0.000000,1400.0,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,8.059120e+05,76.000000,100.000000,1400.0,106400.000000,5.574000e+03,4.481236e+06,1.000000,0.000000
50%,4.172665e+06,100.000000,100.000000,1400.0,140000.000000,9.775000e+03,1.316267e+07,1.000000,0.000000
75%,3.948600e+07,100.000000,100.000000,1400.0,140000.000000,2.509200e+04,4.384623e+07,1.000000,0.000000
max,9.002113e+07,100.000000,100.000000,1400.0,140000.000000,3.007790e+06,3.196850e+08,1.000000,1.000000

Previewing curr_lct_ul.csv
========================================
üîπ Head:

,unit_id,ddate,dtime,target,address,packets_received,packets_sent,packet_size,bytes_total,duration,bytes_sec,error_code,successes,failures
0,386,2023-01-01,2023-01-01 11:47:34,sp1-vm-newyork-us.samknows.com,151.139.31.1,100,100,1400,140000,1002725,139620,NO_ERROR,1,0
1,386,2023-01-02,2023-01-03 01:53:24,sp2-vm-newyork-us.samknows.com,151.139.31.8,100,100,1400,140000,992604,141043,NO_ERROR,1,0
2,386,2023-01-03,2023-01-03 11:46:57,sp2-vm-newyork-us.samknows.com,151.139.31.8,100,100,1400,140000,1009937,138623,NO_ERROR,1,0
3,386,2023-01-04,2023-01-05 01:55:21,sp2-vm-newyork-us.samknows.com,151.139.31.8,100,100,1400,140000,1002115,139705,NO_ERROR,1,0
4,386,2023-01-05,2023-01-05 05:49:49,sp2-vm-newyork-us.samknows.com,151.139.31.8,100,100,1400,140000,1012548,138265,NO_ERROR,1,0

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975854 entries, 0 to 975853
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   unit_id           975854 non-null  int64
 1   ddate             975854 non-null  object
 2   dtime             975854 non-null  object
 3   target            975854 non-null  object
 4   address           975854 non-null  object
 5   packets_received  975854 non-null  int64
 6   packets_sent      975854 non-null  int64
 7   packet_size       975854 non-null  int64
 8   bytes_total       975854 non-null  int64
 9   duration          975854 non-null  int64
 10  bytes_sec         975854 non-null  int64
 11  error_code        975854 non-null  object
 12  successes         975854 non-null  int64
 13  failures          975854 non-null  int64
dtypes: int64(9), object(5)
memory usage: 104.2+ MB

None

üîπ Describe:

,unit_id,packets_received,packets_sent,packet_size,bytes_total,duration,bytes_sec,successes,failures
count,9.758540e+05,975854.000000,975854.000000,975854.0,975854.000000,9.758540e+05,9.758540e+05,975854.000000,975854.000000
mean,2.251144e+07,91.326126,99.290365,1400.0,127856.575881,3.111283e+05,5.987570e+06,0.992904,0.007096
std,2.546439e+07,20.707236,8.394044,0.0,28990.131005,4.756841e+05,1.304892e+07,0.083940,0.083940
min,3.860000e+02,0.000000,0.000000,1400.0,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,8.060900e+05,100.000000,100.000000,1400.0,140000.000000,2.008800e+04,2.229012e+05,1.000000,0.000000
50%,4.172709e+06,100.000000,100.000000,1400.0,140000.000000,6.469000e+04,1.860910e+06,1.000000,0.000000
75%,3.948606e+07,100.000000,100.000000,1400.0,140000.000000,4.574265e+05,6.508903e+06,1.000000,0.000000
max,9.002113e+07,100.000000,100.000000,1400.0,140000.000000,4.815919e+06,7.428571e+08,1.000000,1.000000

Previewing curr_dlping.csv
========================================
üîπ Head:

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
0,386,2023-01-01 11:46:44,newyorkfcc.west.verizon.net,8625,7036,13951,1269,164,0
1,386,2023-01-01 11:46:44,sp1-vm-newyork-us.samknows.com,8215,6818,10715,1085,164,0
2,386,2023-01-02 17:49:03,newyorkfcc.west.verizon.net,8764,7381,13252,1211,168,0
3,386,2023-01-02 17:49:03,sp1-vm-newyork-us.samknows.com,8296,6969,22873,1705,168,0
4,386,2023-01-03 03:51:51,newyorkfcc.west.verizon.net,10952,8456,27849,2431,167,0

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380351 entries, 0 to 1380350
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   unit_id    1380351 non-null  int64
 1   dtime      1380351 non-null  object
 2   target     1380351 non-null  object
 3   rtt_avg    1380351 non-null  int64
 4   rtt_min    1380351 non-null  int64
 5   rtt_max    1380351 non-null  int64
 6   rtt_std    1380351 non-null  int64
 7   successes  1380351 non-null  int64
 8   failures   1380351 non-null  int64
dtypes: int64(7), object(2)
memory usage: 94.8+ MB

None

üîπ Describe:

,unit_id,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
count,1.380351e+06,1.380351e+06,1.380351e+06,1.380351e+06,1.380351e+06,1.380351e+06,1.380351e+06
mean,2.332172e+07,1.057090e+05,2.302082e+04,1.901637e+05,4.108230e+04,1.490849e+02,7.393548e+00
std,2.570982e+07,1.988879e+05,3.960794e+04,3.680833e+05,9.551078e+04,6.317885e+02,3.165206e+02
min,3.860000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.058320e+05,2.170200e+04,8.535000e+03,3.372250e+04,3.600000e+03,1.230000e+02,0.000000e+00
50%,2.432956e+07,4.236200e+04,1.462000e+04,6.945800e+04,8.844000e+03,1.410000e+02,0.000000e+00
75%,3.948642e+07,9.682750e+04,2.695800e+04,1.661485e+05,2.891600e+04,1.640000e+02,2.000000e+00
max,9.002113e+07,2.899709e+06,2.771961e+06,2.999974e+06,1.668147e+06,2.198140e+05,2.156490e+05

Previewing curr_ulping.csv
========================================
üîπ Head:

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
0,386,2023-01-01 11:47:12,newyorkfcc.west.verizon.net,7720,6994,12152,929,153,0
1,386,2023-01-01 11:47:12,sp1-vm-newyork-us.samknows.com,7721,6794,12338,1008,153,0
2,386,2023-01-03 05:50:26,newyorkfcc.west.verizon.net,7606,7260,10780,533,121,0
3,386,2023-01-03 05:50:26,sp1-vm-newyork-us.samknows.com,7447,7049,10987,653,121,0
4,386,2023-01-03 11:46:39,newyorkfcc.west.verizon.net,7696,7327,11320,658,152,0

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394990 entries, 0 to 1394989
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   unit_id    1394990 non-null  int64
 1   dtime      1394990 non-null  object
 2   target     1394990 non-null  object
 3   rtt_avg    1394990 non-null  int64
 4   rtt_min    1394990 non-null  int64
 5   rtt_max    1394990 non-null  int64
 6   rtt_std    1394990 non-null  int64
 7   successes  1394990 non-null  int64
 8   failures   1394990 non-null  int64
dtypes: int64(7), object(2)
memory usage: 95.8+ MB

None

üîπ Describe:

,unit_id,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
count,1.394990e+06,1.394990e+06,1.394990e+06,1.394990e+06,1.394990e+06,1.394990e+06,1.394990e+06
mean,2.344210e+07,2.523245e+05,2.516444e+04,3.749988e+05,7.061881e+04,1.310003e+02,1.026208e+01
std,2.574092e+07,4.425311e+05,4.932611e+04,5.996873e+05,1.499071e+05,7.871682e+02,2.542786e+02
min,3.860000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.061580e+05,2.815900e+04,9.829000e+03,5.411025e+04,5.364000e+03,1.160000e+02,0.000000e+00
50%,2.452565e+07,6.120900e+04,1.617400e+04,1.447820e+05,1.933300e+04,1.410000e+02,1.000000e+00
75%,3.948646e+07,2.508812e+05,2.820800e+04,3.783902e+05,5.678700e+04,1.510000e+02,4.000000e+00
max,9.002113e+07,2.999684e+06,2.999684e+06,2.999999e+06,1.555467e+06,8.524790e+05,2.178670e+05

Previewing curr_udplatency.csv
========================================
üîπ Head:

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
0,386,2023-01-01 00:32:57,newyorkfcc.west.verizon.net,8748,8748,8748,0,1,0
1,386,2023-01-01 00:32:57,sp1-vm-newyork-us.samknows.com,8513,8513,8513,0,1,0
2,386,2023-01-01 02:32:54,sp1-vm-newyork-us.samknows.com,7317,7064,7064,330,36,0
3,386,2023-01-01 02:32:54,newyorkfcc.west.verizon.net,7546,7291,7291,363,36,0
4,386,2023-01-01 03:32:52,newyorkfcc.west.verizon.net,7395,7078,7078,571,18,0

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5454686 entries, 0 to 5454685
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   unit_id    int64
 1   dtime      object
 2   target     object
 3   rtt_avg    int64
 4   rtt_min    int64
 5   rtt_max    int64
 6   rtt_std    int64
 7   successes  int64
 8   failures   int64
dtypes: int64(7), object(2)
memory usage: 374.5+ MB

None

üîπ Describe:

,unit_id,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
count,5.454686e+06,5.454686e+06,5.454686e+06,5.454686e+06,5.454686e+06,5.454686e+06,5.454686e+06
mean,2.360205e+07,2.817094e+04,2.180243e+04,5.765954e+04,6.052070e+03,1.621233e+03,5.670454e+01
std,2.592269e+07,5.730712e+04,3.705075e+04,1.641929e+05,3.386020e+04,8.007929e+02,3.248323e+02
min,3.860000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.119620e+05,1.073800e+04,7.804000e+03,1.584300e+04,5.630000e+02,1.125000e+03,0.000000e+00
50%,2.452582e+07,1.737300e+04,1.377700e+04,2.498500e+04,1.281000e+03,2.034000e+03,0.000000e+00
75%,3.948655e+07,3.052800e+04,2.565800e+04,4.355100e+04,2.666000e+03,2.237000e+03,0.000000e+00
max,9.002113e+07,2.902489e+06,2.830730e+06,2.999999e+06,1.762910e+06,4.440000e+03,2.400000e+03

Previewing curr_udpjitter.csv
========================================
üîπ Head:

,unit_id,dtime,target,packet_size,stream_rate,duration,packets_up_sent,packets_down_sent,packets_up_recv,packets_down_recv,jitter_up,jitter_down,latency,successes,failures
0,386,2023-01-01 11:41:34,sp1-vm-newyork-us.samknows.com,160,64000,15010478,500,500,500,500,1528,724,8340,1,0
1,386,2023-01-02 18:41:48,sp1-vm-newyork-us.samknows.com,160,64000,15255138,500,500,500,500,1429,759,8636,1,0
2,386,2023-01-02 19:41:32,sp1-vm-newyork-us.samknows.com,160,64000,15048060,500,500,500,500,1228,730,7431,1,0
3,386,2023-01-03 01:41:19,sp2-vm-newyork-us.samknows.com,160,64000,14992462,500,500,500,500,1233,731,8332,1,0
4,386,2023-01-03 05:41:10,sp2-vm-newyork-us.samknows.com,160,64000,15078435,500,500,500,500,1232,711,7930,1,0

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2688577 entries, 0 to 2688576
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   unit_id            int64
 1   dtime              object
 2   target             object
 3   packet_size        int64
 4   stream_rate        int64
 5   duration           int64
 6   packets_up_sent    int64
 7   packets_down_sent  int64
 8   packets_up_recv    int64
 9   packets_down_recv  int64
 10  jitter_up          int64
 11  jitter_down        int64
 12  latency            int64
 13  successes          int64
 14  failures           int64
dtypes: int64(13), object(2)
memory usage: 307.7+ MB

None

üîπ Describe:

,unit_id,packet_size,stream_rate,duration,packets_up_sent,packets_down_sent,packets_up_recv,packets_down_recv,jitter_up,jitter_down,latency,successes,failures
count,2.688577e+06,2688577.0,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06,2.688577e+06
mean,2.264110e+07,160.0,6.368645e+04,1.393055e+07,4.951697e+02,4.950798e+02,4.946948e+02,4.945956e+02,-1.699978e+05,1.100631e+03,2.391885e+04,9.902621e-01,9.737865e-03
std,2.553683e+07,0.0,4.468669e+03,2.460975e+06,4.890598e+01,4.924350e+01,4.963622e+01,4.964921e+01,1.929221e+07,8.869266e+03,1.853476e+06,9.819900e-02,9.819900e-02
min,3.860000e+02,160.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.147484e+09,-4.299240e+05,-2.147484e+09,0.000000e+00,0.000000e+00
25%,8.062000e+05,160.0,6.400000e+04,1.499097e+07,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,6.550000e+02,1.510000e+02,1.100200e+04,1.000000e+00,0.000000e+00
50%,4.172757e+06,160.0,6.400000e+04,1.499456e+07,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,1.161000e+03,2.960000e+02,1.675500e+04,1.000000e+00,0.000000e+00
75%,3.948614e+07,160.0,6.400000e+04,1.499802e+07,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,2.132000e+03,5.730000e+02,2.705300e+04,1.000000e+00,0.000000e+00
max,9.002113e+07,160.0,6.400000e+04,2.083677e+07,5.000000e+02,5.000000e+02,8.000000e+02,5.000000e+02,8.515183e+06,2.841873e+06,1.444561e+07,1.000000e+00,1.000000e+00

Previewing curr_udpcloss.csv
========================================
üîπ Head:

,unit_id,dtime,duration,target,address,packets
0,386,2023-01-21 06:05:08,4500449,newyorkfcc.west.verizon.net,206.124.86.197,2
1,386,2023-01-25 20:21:18,87004198,sp1-vm-newyork-us.samknows.com,151.139.31.1,57
2,390,2023-01-10 00:16:44,5277980,sp1-vm-newyork-us.samknows.com,151.139.31.1,3
3,390,2023-01-25 20:21:19,86999555,sp1-vm-newyork-us.samknows.com,151.139.31.1,57
4,390,2023-01-28 10:13:27,114962514,sp1-vm-newyork-us.samknows.com,151.139.31.1,76

üîπ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2138359 entries, 0 to 2138358
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   unit_id   int64
 1   dtime     object
 2   duration  int64
 3   target    object
 4   address   object
 5   packets   int64
dtypes: int64(3), object(3)
memory usage: 97.9+ MB

None

üîπ Describe:

            unit_id      duration       packets
count  2.138359e+06  2.138359e+06  2.138359e+06
mean   2.428527e+07  5.049842e+07  1.349578e+02
std    2.350328e+07  3.204128e+08  1.514010e+03
min    3.860000e+02  5.000000e+00 -2.000000e+00
25%    9.391880e+05  4.500053e+06  2.000000e+00
50%    2.575527e+07  4.744629e+06  2.000000e+00
75%    3.987683e+07  8.999804e+06  4.000000e+00
max    9.002113e+07  5.184420e+09  8.252330e+05